// font-size
$font-size_base: 1.6rem;

// font-family
$font-family_icon: 'Material Icons', "material icons outlined";
$font-family_sans-serif: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "メイリオ", "ＭＳ Ｐゴシック", sans-serif, $font-family_icon;
$font-family_serif: 'Yu Mincho', serif;
$font-family_catch: 'Noto Serif JP', 'Yu Mincho', serif;
$font-family_en: "Lora";
$font-family_en-handwriting: "Merienda One";

// color
$color_base: #003F71;
$color_black: #333;

// background-color
$background-color_base: #fff;
$background-color_sub: #f4f4f4;

// breakpoint
$breakPoint-pc: 1280px;
$breakPoint-tw: 1024px;
$breakPoint-th: 768px;
$breakPoint-sp: 480px;