/* ----------------------- */
/* ローディング画面
/* ----------------------- */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  background-color: $color_base;

  &--fade {
    opacity: 0;
    visibility: hidden;
  }

  &__object {
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 100%;
    animation: animation_loading 1s infinite ease-in-out;
  }
}

/* ----------------------- */
/* Intro Scroll
/* ----------------------- */
.scroll-navigation {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 1;
  padding: 1rem 1rem 11rem;
  overflow: hidden;
  color: #fff;
  font-size: 1.4rem;
  font-family: $font-family_en;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 10rem;
    background: #fff;
    animation: animation_scroll-navigation 3s cubic-bezier(1, 0, 0, 1) infinite;
  }

  @include breakPoint-th {
    font-size: 1rem;
  }
}


/* ----------------------- */
/* スクロールアニメーション
/* ----------------------- */
.js-fade {
  opacity: 0;
  transition: opacity 1.5s;
}
.js-fade--show {
  opacity: 1;
}
