.fnav {
  display: flex;
  flex-basis: 75%;
  justify-content: flex-end;

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__item {
    margin-left: 2.4rem;
  }

  &__link {
    color: #fff;
    position: relative;
    @include hover_line;
  }

  @include breakPoint-tw {
    display: block;

    &__list {
      display: flex;
      flex-flow: column;
      margin-top: 6rem;
      flex: 1;
      align-items: stretch;
    }
    
    &__item {
      display: flex;
      flex: 1;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      margin: 0;
    }

    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      color: #fff;
      font-weight: bold;
      letter-spacing: 0.1rem;
      position: relative;
      
      &::before {
        content: none;
      }

      &::after {
        content: '\e409';
        font-size: 2.4rem;
        color: #fff;
        transition: transform 0.4s ease;
      }

      &:hover {
        opacity: 0.7;
        
        &::after {
          transform: translateX(1rem);
        }
      }
    }
  }
}