.snav {
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color_base, 0.95);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, visibility 0s ease 0.8s;
  z-index: 3;
  padding: 2rem;

  &--active {
    transition: opacity 0.7s ease;
    visibility: visible;
    opacity: 1;
  }

  &__list {
    display: flex;
    flex-flow: column;
    margin-top: 6rem;
    flex: 1;
  }
  
  &__item {
    display: flex;
    flex: 1;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1rem;
    position: relative;
  
    &::after {
      content: '\e409';
      font-size: 2.4rem;
      color: #fff;
      transition: transform 0.4s ease;
    }

    &:hover {
      opacity: 0.7;
      
      &::after {
        transform: translateX(1rem);
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 1.8rem;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-family: $font-family_en;
  }
}
